<nav class="navbar navbar-fixed-top" role="navigation">
	<div class="container">
		<a class="navbar-brand" href="/index.html">Thom Meehan</a>
		<ul id="mainNav" class="nav navbar-nav">
			<li>
				<a href="/#about">About</a>
			</li>
			<li>
				<a href="/#experience">Experience</a>
			</li>
			<li>
				<a href="/#portfolio">Portfolio</a>
			</li>
			<li>
				<a href="/#contact">Contact</a>
			</li>
		</ul>
	</div>
</nav>