<!DOCTYPE html>
<!--[if lt IE 9]><html lang="{{ lang }}" class="no-js old-ie"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ lang }}" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="assets/css/main.css" rel="stylesheet">
  </head>
  <body>
    {{> body }}
    {{#dev}}{{/dev}}
    <script src="assets/js/libs.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>