<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
    table{
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;
    }
    </style>
</head>
<body class="{{className}}" style="background-color: #444444; font-family: 'Times New Roman' serif; width: 660px; margin: auto;">
{{> body }}
</body>
</html>