<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- This is a simple example template that you can edit to create your own custom templates -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="*|MC:SUBJECT|*" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*|MC:SUBJECT|*</title>
    <meta name="description" content="{{ description }}">
    <link href="css/main.css" rel="stylesheet">
    <style type="text/css">
    table{
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0;
    }
    </style>
</head>
<body  leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #444444; font-family: 'Times New Roman' serif; width: 660px; margin: auto;">
{{> body }}
</body>
</html>