@nice-blue: #5B83AD;
@light-blue: (@nice-blue + #000);

#header { color: @light-blue; }

@font-face {  
    font-family: 'LibreBaskerville-Regular';  
    src:url('../fonts/librebaskervilleregular.ttf');
    font-weight: normal;  
    font-style: normal; 

}  

.baskerville{
	 font-family: LibreBaskerville-Regular !important;  
}

.row {
	h2{
		
	}
}