.saveTheDate{
	background-color: #444;
	font-family: 'LibreBaskerville-Regular' !important;

	.container{
		width: 660px;
		background-color: #fff;
		position: relative;

		h1{
			position: absolute;
			font-style: italic;
			z-index: 999;
			width: 600px;

			&#firstLine{
				top: 55px;
				left: 60px;	
			}
			&#secondLine{
				top: 105px;
				left: 70px;	
			}
		}

		#invitation{
			position: absolute;
			top: 280px;
			left: 35px;

			h2{
				font-size: 18px;
				padding: 0px;
				margin: 0px;
			}
			p{
				padding: 0px;
				margin: 0px;	
			}
		}

		#details{

			position: absolute;
			top: 370px;
			left: 80px;	

			font-size: 12px;
		}

		canvas{
			width: 660px;
		}
	}
}