---
title: "Save the Date"
description: "The save the date page for the wedding of Niamh Mulvey and Thomas Meehan."
className: "saveTheDate"
lang: "en"
---
<canvas id="cloudCanvas"  width="660" height="250"></canvas>
<h1 id="firstLine">our nuptial hour</h1>
<h1 id="secondLine">draws on apace . . .</h1>
<div id="invitation">
	<h2>Guest & Guest</h2>
	<p>Please keep the date free.</p>
</div>
<div id="details">
	<p><strong>Date:</strong> 10<sup>th</sup> July 2014</p>
	<p><strong>Location:</strong> The Set Theatre</p>
	<p><strong>Time:</strong> 3:00pm</p>
</div>
<img src="images/thomasandniamh_v5.jpg" />
