---
title: "Save the Date"
description: "Save the date for Niamh and Thomas's wedding."
className: "saveTheDate"
lang: "en"
layout: "default_email.hbs"
---
<center>
<table  border="0" cellpadding="0" cellspacing="0" styles="margin: 0px; padding: 0px; background-color: #ffffff; border-spacing: 0px;">
<tr>
	<td style="text-align: center; background-color: #ffffff;">
		<div mc:edit="std_preheader_links"><!-- *|IFNOT:ARCHIVE_PAGE|* -->Is this email not displaying correctly? <a href="*|ARCHIVE|*" target="_blank" style="color: #000000;">View it in your browser</a>.<!-- *|END:IF|* --></div>
	</td>
</tr>
<tr>
	<td styles="margin: 0px; padding: 0px;">
		<table styles="margin: 0px; padding: 0px;" cellpadding="0">
			<tr>
				<td width="660px" height="71px">
					<img width="660px" height="71px" src="images/email/top_top_v1.jpg"/>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table styles="margin: 0px; padding: 0px;" cellpadding="0">
			<tr>
				<td width="91px" height="96px">
					<img styles="margin: 0px; padding: 0px;" src="images/email/top_left_v1.jpg" alt="our nuptial hour draws on apace" />
				</td>
				<td width="321px" height="96px" style="text-align: center; font-size: 37px; font-style: italic; text-weight: 600px; background-color: #ffffff;">our nuptial hour<br /><br/>draws on apace . . .
				</td>
				<td width="248px" height="96px">
					<img styles="margin: 0px; padding: 0px;" src="images/email/top_right_v1.jpg" alt="our nuptial hour draws on apace" />
				</td>	
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table styles="margin: 0px; padding: 0px;" cellpadding="0">
			<tr>
				<td width="660px" height="87px">
					<img styles="margin: 0px; padding: 0px;" src="images/email/top_bottom_v2.jpg" />
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table styles="margin: 0px; padding: 0px;" cellpadding="0">
			<tr>
				<td width="278px" style="text-align: center; font-size: 20px; font-style: italic; background-color: #ffffff;">Please join us for our<br />midsummer wedding . . .</td>
				<td width="235px" style="margin: 0px; padding: 0px; background-color: #ffffff;">
					<img style="margin: 0px; padding: 0px; background-color: #ffffff;" width="217px" height="137px" src="images/email/heads_center_v3.jpg" />
				</td>
				<td width="167px" style="text-align: center; font-style: italic; background-color: #ffffff;">. . . 10<sup>th</sup> July 2014<br />The Set Theatre<br />Kilkenny</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td styles="margin: 0px; padding: 0px; background-color: #ffffff;">
		<img styles="margin: 0px; padding: 0px; background-color: #ffffff;" width="660px" height="277px" src="images/email/scenery_v4.jpg" />
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff;">
		<table>
			<tr>
				<td width="330px" style="text-align: center; background-color: #ffffff;">more info to follow</td>
				<td width="330px" style="text-align: center; color: #000000; background-color: #ffffff;"><a style="color: #000000; font-style: italic;" href="http://niamhandthom.com">niamhandthom.com</a></td>
			</tr>
		</table>
	</td>
</tr>
</table>
</center>