---
title: "Save the Date"
description: "The save the date page for the wedding of Niamh Mulvey and Thomas Meehan."
className: "saveTheDate"
lang: "en"
---
<canvas id="cloudCanvas"  width="660" height="250"></canvas>
<header>
	<h1 id="firstLine">our nuptial hour</h1>
	<h1 id="secondLine">draws on apace . . .</h1>
</header>
<img id="cloud2" class="cloud" src="images/svg/cloud_2.svg" />
<img id="cloud3" class="cloud" src="images/svg/cloud_2.svg" />
<img id="cloud4" class="cloud" src="images/svg/cloud_2.svg" />
<div id="invitation">
	<h2 id="first">Please join us for our</h2>
	<h2 id="second">midsummer wedding . . .</h2>
</div>
<div id="details">
	<p>. . . 10<sup>th</sup> July 2014</p>
	<p>The Set Theatre</p>
	<p>Kilkenny</p>
</div>

<img src="images/svg/thomasandniamh_v7.svg" />
<!--
<img src="images/thomasandniamh_v5.jpg" />
-->
<footer>
	<div>more info to follow</div>
	<a href="http://niamhandthom.com">niamhandthom.com</a>
</footer>