---
title: "static site"
description: "static site template"
---
<section name="home" class="container-fluid">
	<div class="row">
		<div id="canvas-container" class="col-lg-12">
			<div id="timeline-canvas"></div>
		</div>
	</div>
</section>