---
title: "static site"
description: "static site template"
---
<section name="home">
	<div class="page-header">
		<h1>Static Site</h1>
	</div>
	<div>
        <h2>Requirments</h2>
        <p>You will need to have grunt and npm installed.</p>
		<h2>Setup</h2>
        <p><code>npm install</code></p>
        <p><code>bower install</code></p>
        <h2>Usage</h2>
        <p><code>grunt</code> - to build the site</p>
        <p><code>grunt watch</code> - to monitor the assets and templates directories and re-build the site as changes are made.</p>
	</div>
</section>