---
title: "Niamh and Thomas's wedding"
description: "The wedding site for the marriage of Niamh Mulvey and Thomas Meehan."
lang: "en"
---
<header>
	<h1 class="baskerville">Niamh and Thomas's wedding</h1>
</header>
<div class="row baskerville topText">
	<div class="span12 topRow">
		<p class="topPara">Time is running out. Only....</p>
	</div>
</div>
<div id="countdownTitle" class="row baskerville">
	<div class="span3 title">Days</div>
	<div class="span3 title">Hours</div>
	<div class="span3 title">Minutes</div>
	<div class="span3 title">Seconds</div>
</div>
<div id="countdown" class="row baskerville">
	<div id="daysTo" class="span3 numbers">00</div>
	<div id="hoursTo" class="span3 numbers">00</div>
	<div id="minsTo" class="span3 numbers">00</div>
	<div id="secsTo" class="span3 numbers">00</div>
</div>
<div class="row baskerville endText">
	<div class="span12 endPara">
		<p>until <strong>3pm</strong> on the <strong>10<sup>th</sup> of July 2014</strong> when Niamh and Thomas will be married in the <strong>Set Theatre, Kilkenny</strong>.</p>
	</div>
</div>
<div>
	<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'niamhandthom'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>