---
title: "Niamh and Thomas's wedding"
description: "The wedding site for the marriage of Niamh Mulvey and Thomas Meehan."
lang: "en"
---
<header>
	<h1 class="baskerville">Niamh and Thomas's wedding</h1>
</header>
<div class="row baskerville topText">
	<div class="span12 topRow">
		<p class="topPara">Time is running out. Only....</p>
	</div>
</div>
<div id="countdownTitle" class="row baskerville">
	<div class="span3 title">Days</div>
	<div class="span3 title">Hours</div>
	<div class="span3 title">Minutes</div>
	<div class="span3 title">Seconds</div>
</div>
<div id="countdown" class="row baskerville">
	<div id="daysTo" class="span3 numbers">00</div>
	<div id="hoursTo" class="span3 numbers">00</div>
	<div id="minsTo" class="span3 numbers">00</div>
	<div id="secsTo" class="span3 numbers">00</div>
</div>
<div class="row baskerville endText">
	<div class="span12 endPara">
		<p>until <strong>3pm</strong> on the <strong>10<sup>th</sup> of July 2014</strong> when Niamh and Thomas will be married.</p>
	</div>
</div>