---
title: "static site"
description: "static site template"
---
<section name="home">
	<div class="page-header">
		<h1>Static Site</h1>
	</div>
	<div class="jumbotron">
		<h2>The future</h2>
		<p>Quisque eleifend non nulla sit amet pharetra. Fusce mattis at tortor vitae congue. Suspendisse tortor tortor, auctor nec orci ut, accumsan porta massa. Sed quis erat pellentesque, facilisis lacus eleifend, consequat ligula. Fusce aliquet in nunc a facilisis. Cras sit amet facilisis quam. Sed laoreet leo id quam consectetur, non feugiat elit vestibulum. Duis ultrices sapien et odio commodo, eget ornare massa porttitor. Ut adipiscing est id mattis feugiat. Maecenas laoreet et est sed euismod.</p>
		<p><a class="btn btn-primary btn-lg" role="button">Contact</a></p>
	</div>
</section>