---
title: "Grunt Test"
description: "A test project made using grunt"
lang: "en"
---
<div class="row">
	<div class="span12">
		<h2>span12</h2>
		<p></p>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h2>span12</h2>
		<p></p>
		<div class="row-fluid">
			<div class="span4">
				<h2>span4</h2>
				<p></p>
			</div>
			<div class="span4 babasNeue">
				<h2>span4</h2>
				<p></p>
			</div>
			<div class="span4 baskerville">
				<h2>baskerville</h2>
				<p></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h2>span2</h2>
		<p></p>
	</div>
	<div class="span2">
		<h2>span2</h2>
		<p></p>
	</div>
	<div class="span2">
		<h2>span2</h2>
		<p></p>
	</div>
	<div class="span2">
		<h2>span2</h2>
		<p></p>
	</div>
	<div class="span2">
		<h2>span2</h2>
		<p></p>
	</div>
	<div class="span2">
        <h2>span2</h2>
        <p></p>
    </div>
</div>