---
title: "Grunt Test"
description: "A test project made using grunt"
lang: "en"
---
<div class="row">
	<div class="thumbnail span12">
		<h2>span12</h2>
		<p></p>
	</div>
</div>
<div class="row">
	<div class="thumbnail span12">
		<h2>span12</h2>
		<p></p>
		<div class="row-fluid show-grid">
			<div class="thumbnail span4">
				<h2>span4</h2>
				<p></p>
			</div>
			<div class="thumbnail span4">
				<h2>span4</h2>
				<p></p>
			</div>
			<div class="thumbnail span4">
				<h2>span4</h2>
				<p></p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="thumbnail span2 baskerville">
		<h2>header</h2>
		<p></p>
	</div>
	<div class="thumbnail span2 baskerville">
		<h2>header</h2>
		<p></p>
	</div>
	<div class="thumbnail span2 baskerville">
		<h2>header</h2>
		<p></p>
	</div>
	<div class="thumbnail span2 baskerville">
		<h2>header</h2>
		<p></p>
	</div>
	<div class="thumbnail span2 baskerville">
		<h2>header</h2>
		<p></p>
	</div>
</div>