
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <!-- This is a simple example template that you can edit to create your own custom templates -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="Niamh and Thom's Save the date" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>*|MC:SUBJECT|*</title>
    <meta name="description" content="Save the date for Niamh and Thomas&#x27;s wedding.">
    <style type="text/css">
    table{
      max-width: 100%;
      background-color: transparent;
      border-collapse: collapse;
      border-spacing: 0px;
    }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #444444; font-family: 'Times New Roman' serif; width: 660px; margin: auto;">
<center>
<table border="0" cellpadding="0" cellspacing="0" styles="margin: 0px; padding: 0px; background-color: #ffffff; border-spacing: 0px;">
<tr>
	<td style="text-align: center; background-color: #ffffff;">
		<webversion>click here for web version</webversion>
	</td>
</tr>
<tr>
	<td styles="margin: 0px; padding: 0px; background-color: #ffffff;">
		<table border="0" cellpadding="0" cellspacing="0" height="71px" styles="margin: 0px; padding: 0px; background-color: #ffffff;">
			<tr>
				<td width="660px" height="71px" style="background-color: #ffffff;">
					<img width="660px" height="71px" src="top_top_v1.jpg"/>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td styles="margin: 0px; padding: 0px; background-color: #ffffff;">
		<table border="0" cellpadding="0" cellspacing="0" height="96px" styles="margin: 0px; padding: 0px; background-color: #ffffff;">
			<tr>
				<td width="91px" height="96px" style="background-color: #ffffff;">
					<img styles="margin: 0px; padding: 0px; background-color: #ffffff;" src="top_left_v1.jpg" alt="our nuptial hour draws on apace" />
				</td>
				<td width="321px" height="96px" style="text-align: center; font-size: 30px; font-style: italic; text-weight: 600px; background-color: #ffffff;">our nuptial hour<br/>draws on apace . . .
				</td>
				<td width="248px" height="96px" style="background-color: #ffffff;">
					<img styles="margin: 0px; padding: 0px; background-color: #ffffff;" src="top_right_v1.jpg" alt="our nuptial hour draws on apace" />
				</td>	
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table border="0" cellpadding="0" cellspacing="0" height="87px" styles="margin: 0px; padding: 0px; background-color: #ffffff;">
			<tr>
				<td width="660px" height="87px" style="background-color: #ffffff;">
					<img styles="margin: 0px; padding: 0px;" src="top_bottom_v2.jpg" />
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table border="0" cellpadding="0" cellspacing="0" height="137px" styles="margin: 0px; padding: 0px; background-color: #ffffff;">
			<tr>
				<td width="294px" style="text-align: center; font-size: 20px; font-style: italic; background-color: #ffffff;"><singleline />Please join us for our<br />midsummer wedding . . .</td>
				<td width="235px" style="margin: 0px; padding: 0px; background-color: #ffffff;">
					<img style="margin: 0px; padding: 0px; background-color: #ffffff;" width="217px" height="137px" src="heads_center_v3.jpg" />
				</td>
				<td width="167px" style="text-align: center; font-size: 20px; font-style: italic; background-color: #ffffff;">. . . 10<sup>th</sup> July 2014<br />The Set Theatre<br />Kilkenny</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td height="277px" styles="margin: 0px; padding: 0px; background-color: #ffffff;">
		<img styles="margin: 0px; padding: 0px; background-color: #ffffff;" width="660px" height="277px" src="scenery_v4.jpg" />
	</td>
</tr>
<tr>
	<td style="background-color: #ffffff;">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td width="220px" style="text-align: center; background-color: #ffffff; font-style: italic;">more info to follow</td>
				<td width="220px" style="text-align: center; background-color: #ffffff; font-style: italic;"> <unsubscribe>Unsubscribe</unsubscribe> </td>
				<td width="220px" style="text-align: center; color: #000000; background-color: #ffffff;"><a style="color: #000000; font-style: italic;" href="http://niamhandthom.com">niamhandthom.com</a></td>
			</tr>
		</table>
	</td>
</tr>
</table>
</center>
</body>
</html>